lpcxpresso824/prj_xpresso82x/iar/freertos_blinky/settings/
lpcxpresso824/prj_xpresso82x/iar/lib_board_lpcxpresso824/settings/
lpcxpresso824/prj_xpresso82x/iar/lib_chip_8xx/settings/
lpcxpresso824/prj_xpresso82x/iar/lib_board_lpcxpresso824/iar_output/List/
lpcxpresso824/prj_xpresso82x/iar/lib_board_lpcxpresso824/iar_output/Obj/
lpcxpresso824/prj_xpresso82x/iar/lib_chip_8xx/iar_output/List/
lpcxpresso824/prj_xpresso82x/iar/lib_chip_8xx/iar_output/Obj/
lpcxpresso824/prj_xpresso82x/iar/freertos_blinky/iflash_nxp_lpcxpresso_812/List/
lpcxpresso824/prj_xpresso82x/iar/freertos_blinky/iflash_nxp_lpcxpresso_812/Obj/
lpcxpresso824/prj_xpresso82x/iar/lib_chip_8xx/chip_8xx_lib/Obj/
lpcxpresso824/prj_xpresso82x/iar/lib_board_lpcxpresso824/nxp_lpcxpresso_824/Obj/
lpcxpresso824/prj_xpresso82x/iar/settings/
*.out
*.sim
lpcxpresso824/prj_xpresso82x/iar/freertos_blinky/ClassA/
lpcxpresso824/prj_xpresso82x/iar/freertos_blinky/ClassB/
lpcxpresso824/prj_xpresso82x/iar/freertos_blinky/ClassC/
lpcxpresso824/prj_xpresso82x/iar/periph_acmp/
lpcxpresso824/prj_xpresso82x/iar/periph_bod/
lpcxpresso824/prj_xpresso82x/iar/periph_clkout/
lpcxpresso824/prj_xpresso82x/iar/periph_crc/
lpcxpresso824/prj_xpresso82x/iar/periph_flashiap/
lpcxpresso824/prj_xpresso82x/iar/periph_glitch_filter/
lpcxpresso824/prj_xpresso82x/iar/periph_gpio/
lpcxpresso824/prj_xpresso82x/iar/periph_i2c_rom_interrupt/
lpcxpresso824/prj_xpresso82x/iar/periph_i2c_rom_polling/
lpcxpresso824/prj_xpresso82x/iar/periph_i2c_rom_slave_interrupt/
lpcxpresso824/prj_xpresso82x/iar/periph_i2cm_interrupt/
lpcxpresso824/prj_xpresso82x/iar/periph_i2cm_polling/
lpcxpresso824/prj_xpresso82x/iar/periph_i2cs_interrupt/
lpcxpresso824/prj_xpresso82x/iar/periph_mrt/
lpcxpresso824/prj_xpresso82x/iar/periph_pinint/
lpcxpresso824/prj_xpresso82x/iar/periph_pll_tab/
lpcxpresso824/prj_xpresso82x/iar/periph_sct/
lpcxpresso824/prj_xpresso82x/iar/periph_sct_pwm/
lpcxpresso824/prj_xpresso82x/iar/periph_spi/
lpcxpresso824/prj_xpresso82x/iar/periph_spi_sm_int/
lpcxpresso824/prj_xpresso82x/iar/periph_systick/
lpcxpresso824/prj_xpresso82x/iar/periph_uart/
lpcxpresso824/prj_xpresso82x/iar/periph_uart_rb/
lpcxpresso824/prj_xpresso82x/iar/periph_uart_rom_int/
lpcxpresso824/prj_xpresso82x/iar/periph_uart_rom_polling/
lpcxpresso824/prj_xpresso82x/iar/periph_wkt/
lpcxpresso824/prj_xpresso82x/iar/periph_wwdt/